.left_sidebar_content{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.company_details{
    width: inherit;
    height: 8%;
    /* background-color: lawngreen; */
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid lightgrey;
}
.company_details img{
    margin-left: 20px;
    margin-right: 10px;
}
.company_details span{
    font-weight: bold;
    font-size: 1.2rem;
}

.left_sidebar_div1{
    width: 90%;
    height: 40%;
    /* background-color: tomato; */
}

.left_sidebar_div2{
    width: 90%;
    height: 30%;
    /* background-color: hotpink; */
}
.left_sidebar_div3{
    width: 90%;
    height: 15%;
    /* background-color: lime; */
}

.main_heading{
    width: 100%;
    height: 40px;
    color: grey;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    /* background-color: hotpink; */
}


.left_sidebar_main{
    width: 100%;
    height: 40px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.main_active{
    background-color: rgb(51, 103, 199);
    color: white;
}
.main_active .left_content span{
    color: white;
}

.left_content{
    width: 60%;
    height: 100%;
    /* background-color: brown; */
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.left_content img{
    margin-right: 10px;
}
.left_content span{
    font-size: 0.9rem;
    color: grey;
}

.right_content{
    margin-right: 10px;
}

.right_discover{
    width: 20px;    
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(51, 103, 199);;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}